.woocommerce_page_wsklad
{
  .wp-header-end
  {
    margin-bottom: 15px;
  }

  .settings-update
  {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .help-tab-content
  {
    margin: 0;
  }

  .subsubsub
  {
    font-size: 14px;
    line-height: 28px;
    margin-top: 10px;

    a
    {
      text-decoration: none;
      padding-left: 0;
    }

    li
    {
      padding-left: 0;
      padding-right: 5px;
    }
  }

  .wsklad-admin-connection
  {
    .wsklad-title-wrap
    {
      margin-top: 10px;
    }
  }

  .button-danger
  {
    color: #fff;
    background-color: darkred;
    border-color: red;
  }
}

.wsklad-title-wrap
{
  padding: 5px 7px;
  background-color: #f0f0f1;

  h3
  {
    margin: 0.1em 0;
    font-size: 1.2em;
  }

  p
  {
    margin: 0.3em 0;
  }
}

.wsklad-admin-settings
{
  .wsklad-title-wrap
  {
    background-color: #dcdcde;
    //margin-top: 30px;
  }
}

.wsklad-admin-connection
{
  .wsklad-title-wrap
  {
    margin-top: 10px;
  }
}

.wsklad-custom-metas
{
  border: 1px solid #ccd0d4;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
}