.woocommerce_page_wsklad
{
  .wp-header-end
  {
    margin-bottom: 10px;
  }

  .settings-update
  {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .help-tab-content
  {
    margin: 0;
  }

  .subsubsub
  {
    font-size: 14px;
    line-height: 28px;

    a
    {
      text-decoration: none;
      padding-left: 0;
    }

    li
    {
      padding-left: 0;
      padding-right: 5px;
    }
  }

  .wsklad-title-wrap
  {
    padding: 5px 7px;
    background-color: #f7f7f7;

    h3
    {
      margin: 0.1em 0;
      font-size: 1.2em;
    }

    p
    {
      margin: 0.3em 0;
    }
  }

  .wsklad-admin-settings
  {
    .wsklad-title-wrap
    {
      background-color: #dcdcde;
      margin-top: 30px;
    }
  }
}
