.woocommerce_page_wsklad
{
  .wp-header-end
  {
    margin-bottom: 10px;
  }

  .settings-update
  {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .help-tab-content
  {
    margin: 0;
  }

  .subsubsub
  {
    font-size: 14px;
    line-height: 28px;

    a
    {
      text-decoration: none;
    }
  }
}
