@import "tocbot/tocbot-core";

.wsklad-sidebar-toc
{
  .list-group-item
  {
    padding: .2rem 0.5rem;
    margin-top: 0!important;
    border: 0!important;
    transition: all 0.7s;

    &.active
    {
      background-color: #f0f0f1;
    }
  }

  .is-active-link
  {
    font-weight: 600;
    text-decoration: none;
  }

  &.is-position-fixed
  {
    top:40px;
  }
}